@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}


$primary-color: #006eff;
$secondary-color: #fff;
$tertiary-color: #000000;
$tertiary-color-alt: #262626;
$alt-color: #ababab;
$second-alt-color: #82b8ff;

$font-weights: (
  "small": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700
);

$header-height: 3px;