@import './config';

.container {
  padding: 10px 10%;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .logo {
      width: 30%;
    }

    ul {
      li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;

        a {
          color: $secondary-color;
          text-decoration: none;
          font-size: 18px;
          position: relative; 

          &::after {
            content: '';
            width: 0%;
            height: 3px;
            background: $primary-color;
            position: absolute;
            right: 0;
            display: block;
            margin: auto;
            @include transition-ease;
          }          

          &:hover::after{
            width:100%;
          }
        }
      }
    }
  }
}