@media only screen and (max-width: 600px){
  #header {
    background-image: url(/images/9.jpg);
    height: 100vh;
    width: 100%;
    justify-self: center;
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;

    h1 {
      font-size: 30px;
      top: 50%;
      left: 50%;
      transform: translate(10%, -175px);
    }

    p{
      font-size: 20px;
      top: 50%;
      left: 50%;
      transform: translate(10%, -150px);
    }
  }

  //MENU

  //MENU ALT
  /*.container {
    nav {
      .logo {
        width: 50%;
      }
    }
  }
  

  header {
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      opacity: 0.98;
      visibility: hidden;
    
      &.open {
        visibility: visible; 
      }
    
      .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: $primary-color;
        list-style-type: none;
        padding-right: 10px;
        transform: translateY(-100%);
        @include transition-ease;
    
        &.open {
          transform: translateY(0);
        }
    
        &__item {
          transform: translateX(100vw);
          @include transition-ease;
    
          &.open {
            transform: translateX(0);        
          }
    
          &.active > a {
            color: $secondary-color;
          }
          
        }
    
        &__link {
          display: inline-block;
          font-size: 10px;
          padding: 10px 0;
          font-weight: 300;
          @include transition-ease;
    
          &:hover {
            color: $secondary-color;
          }      
        }
      }
    }

    .menu-btn {
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 20px;
      height: 20px;
      width: 28px;
      cursor: pointer;
      @include transition-ease;
    
      &__burger {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 28px;
        height: 3px;
        background: $primary-color;
        @include transition-ease;
    
        &::before {
          content: '';
          position: absolute;
          top: -8px;
          width: 28px;
          height: 3px;
          background: $primary-color;
          @include transition-ease;
        }
    
        &::after {
          content: '';
          position: absolute;
          top: 8px;
          width: 28px;
          height: 3px;
          background: $primary-color;
          @include transition-ease;
        }
    
        &.open {
          transform: rotate(720deg);
          background: transparent;
    
          &::before {
            transform: rotate(45deg) translate(5px, 8px);
          }
    
          &::after {
            width: 28px;
            transform: rotate(-45deg) translate(3px, -7px);
          }
        }
      }
    }

    
  } */

  //ABOUT  
  #about {
    .row {
      .about {
        &-col-2 {
          font-size: 14pt;
          .subtitle {
            font-size: 40px;
          }

          .tab-links {
            font-size: 16px;
            margin-right: 20px;
          }
        }
        
        &-col-1, &-col-2 {
          flex-basis: 100%;
        }

        &-col-1 {
          margin-bottom: 30px;
        }
      }
    }
  }

  .about {
    img {
    width: 150%;
    border-radius: 15px;
    }
  }

  #services {
    .container {
      .services-list {
        display: grid;
        grid-template-columns: none;    
      }
    }
  }

  #portfolio {
    .work-list {
      display: grid;
      grid-template-columns: none;
    }
    .work {
      img {
        width: 100%;
        border-radius: 10px;
        display: block;
      }
    }
  }

  .contact {
    &-right {
      form {
        width: 80vw;

        .btn-2, .btn-3 {
          width: 50vw;
        }
      }
    }
  }

  footer {
    font-size: 14px;
  }
}